.header {
   display: flex;
   width: 1200px;
   justify-content: space-between;
   font-size: 16px;
   margin:auto;
   margin-bottom: 112px;
  
}
.logo_link{
    font-size: 30px;
    color:#95E1D3;
    font-family: 'Montserrat', sans-serif;
    padding-top: 30px;
    
}
.menu_list{
    display: flex;
    width:490px;
    justify-content: space-between;
    
}
.menu_list_item{
    font-size: 14px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    padding-bottom: 15px;
    padding-top: 16px;
    color: #95E1D3;
}
.menu_list_item:hover {
    color: #F38181;
    border-bottom: 2px solid #F38181;
}
