.section1{
    margin: auto;
    text-align: center;
   
}
.first-logo{
    color: #222222;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
}
.description{
    color: #777777;
    font-size:16px;
    margin-bottom: 80px;
}
.cards{
    display: flex;
    margin:auto;
    margin-bottom: 135px;
    width: 900px;
}
.card{
    width:275px;
    
}
.div-image{
    width:70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #FED136;
    margin: auto;
    margin-bottom: 30px;
}
.image{
    padding: 12px;
}
.logo-card{
    color:#222222;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom:18px ;
}
.description-card{
    color:#777777;
    font-size: 14px;
}
.section2{
    margin: auto;
    text-align: center;
    
}
.background{
    background: #222222;
    

    
}
.image-background{
    background-image: url(../image/Map_Image.png);
    background-position:right;
    background-repeat: no-repeat;
  
}
.div-form{
    width: 450px;
}
.all-forms{
    width: 900px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.second-logo{
    color: #f8f6f6;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 100px;
}
form, input{
    height:50px;
    width: 450px;
    margin-bottom: 30px;
}
.input{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#BBBBBB;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px;
}
.textarea{
    height: 210px; 
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color:#BBBBBB;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 5px; 
    padding: 21px;
}
.submit{
    width: 240px;
    height: 65px;
    color:#FFFFFF;
    background:#FED136;
    border-radius: 5px; 
    border:#FED136;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 115px;
}
