.section-6{
   
    
    
   
   
}
.title{
    color:#2c2c2c;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
   
    padding-bottom: 60px;
    text-align: center;
}
.title::before{
    content:"\005B";
    color:#EEBF3E;
}
.title::after{
    content:"\005D"; 
    color:#EEBF3E;
}
.background-1{
    background-image: url(../img/back-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    width: 275px;
    margin: auto;
    text-align: left;
}
.mini-title{
    padding-top: 50px;
    color: #2C2C2C;
    font-size: 20px;
}
.star1::before{
    content: url(../img/star1.png);
    padding-right: 20px;
}

.star2::before{
    content: url(../img/star2.png);
    padding-right: 20px;
}
.star3::before{
    content: url(../img/star3.png);
    padding-right: 20px;
}
.paragraph{
    color:#6B6F7A;
    font-size: 14px;
    width: 175px;
    margin: auto;
}
.div-img{
    overflow: hidden;
    width: 95px;
    height: 200px;
    position: absolute;
    top:65%;
    left: 72%;
}
@media (min-width: 768px){
.section-6{
    
}
.title{
    font-size: 20px;
    text-align: center;
}
.mini-title{
    font-size: 25px;
}
.card{
    width: 360px;
    text-align: left;
    margin-left: 100px;
}
.paragraph{
    font-size: 16px;
    text-align: left;
    margin: auto;
    width: 367px;
    
}
.background-1{
    background-image: url(../img/back-2.png);
}
.div-img{
    overflow: hidden;
    width: 360px;
    height: 360px;
    position: absolute;
    top:55%;
    left: 78%;
}
}
@media (min-width:1200px){
    .section-6{
        width:1200px;
        margin: auto;
    }
    .background-1{
        background-image: url("../img/back-3.png");
    }
    .div-img{
        width: 360px;
        height: 360px;
    }
}