
.button{
    display: inline-block;
    color: #626262;
    padding:17px;
    border:1px solid;
    margin-left: 630px;
    margin-top: 40px;
    margin-bottom: 53px;
    
}
.word{
    font-size: 20px;
    color:#626262;

}


