* {
    
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 0;
}
a {
    text-decoration: none;
    color: #000;
}
.header{
    margin: auto;
    text-align: center;
}
.site-navigation li{
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    margin-right: 120px;
    list-style-type: none;
    margin-top: 75px;
    margin-bottom: 100px;
    color:#626262;
}
.list-item:hover{
    color:#03A9F4;
}
.bollards{
    max-width: 1300px;
    font-size: 16px;
}
.one-bollards{
    display:inline-block;
    width:420px;
    margin-left: 180px;
}
h4{
    color: #B4AD9E;
    font-size: 14px;
    text-transform: uppercase;
}
h2{
    color:#626262;
    font-size: 30px;
}
p{
    color:#626262;
    font-size: 14px;
}
.button{
    display: inline-block;
    color: #626262;
    padding:17px;
    border:1px solid;
    margin-left: 630px;
    margin-top: 40px;
    margin-bottom: 53px;
    
}
.word{
    font-size: 20px;
    color:#626262;

}


