* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
html {
    font-size: 0;
}
a {
    text-decoration: none;
    color: #FFFFFF;
}

button {
    outline: none;
}

li {
    list-style-type: none;
}